/* INTERNATIONAL FONTS */

@font-face {
    font-family: 'Oseong';
    src: url(fonts/oseong.otf);
}

/* GENERAL STYLES */

html
h1, h2, h3, h4
{
    font-family: 'Montserrat', sans-serif;
}

html
h1
{
    font-size: calc(12px + 3.5vw);;
}

html
h2
{
    font-size: calc(12px + 2.5vw);
}

html
h3
{
    font-size: calc(12px + 1.7vw);
}
html
h4
{
    font-size: calc(12px + 1.5vw);
}
html
h5
{
    font-family: 'Raleway', sans-serif;
    text-decoration: bold;
    font-size: calc(12px + 1.1vw);
}

html
p
{
    font-weight: lighter;
    font-size: calc(12px + 0.2vw);
}

/* BANNER STYLES */

.heading-banner
{
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-attachment: fixed;
	margin: 3% 0 3% 0;
}

#about-us-banner
{
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url(images/about-slider/outdoor4.jpg);
    background-attachment: fixed;
}

#explore-banner
{
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url(images/about-slider/outdoor4.jpg);
    background-attachment: fixed;
}

#rooms-banner
{
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url(images/about-slider/outdoor4.jpg);
    background-attachment: fixed;
}

#reserve-banner
{
	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url(images/about-slider/outdoor4.jpg);
    background-attachment: fixed;
}

/* ABOUT US PAGE STYLES */

#about-us
{
    padding-right: 50px;
}

/* ROOMS PAGE STYLES */

#rooms-thumbnails
{
    text-align: center;
}

/* SCROLL BUTTON STYLING */

#scroll-button
{
	position: fixed; bottom: 10%; z-index: 999;
}

/* FORM STYLING */

.form-style{
    font: 95% "Montserrat", sans-serif;
    width: 70%;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.form-style h1{
    background: #26a69a;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus
{
    box-shadow: 0 0 5px #26a69a;
    padding: 3%;
    border: 1px solid #219187;
}

.form-style input[type="submit"],
.form-style input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    /* make background a little lighter than border-bottom */
    background: #26a69a;
    border-bottom: 2px solid #219187;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover
{
    background: #2EBC99;
}

/* dirty solution to prevent calendar from overflowing div. */
.form-datepicker
td a
{
    font-size: 13;
}

/* FORM : ROOM SELECT  */
input[type="radio"]
{
    display:none;
}
.room-select > tbody > tr > td
{
    text-align: center;
}

.room-select > tbody > tr > td > label,
.room-select > tbody > tr > td > label > img
{
    display:inline-block;
    max-width: 300px;
    /* height set by jQuery for mobile responsiveness */
    border-radius:50%;
    margin:1px;
}

.room-select > tbody > tr > td > label > img
{
    width: 99%;
}

.room-select > tbody > tr > td > label
{
    width: 80%;
}

input[type=radio]:checked + label, 
input[type=checkbox]:checked + label
{
    background-color:#e0e0e0;
    box-shadow: 0 0 5px #26a69a;
    border: 2px solid #219187;
}

#reservation-confirm
{
    margin: auto;
}

#reservation-confirm
tr > td
{
    width: 50%;
    padding: 15px;
}

.reservation-confirm-header
{
    border-right: 1px solid black;
    text-align: right;
}

/* MEDIA QUERIES FOR MOBILE RESPONSIVENESS */

@media screen and (max-width:680px){

	.row .col
	{
		width: 90% !important;
	}

	#rooms-thumbnails
	{
		display: none;
	}
	html
	{
        margin: auto;
		text-align: center;
	}

}
