<!--

PAIN IN THE FUCKING ASS:
-format mini-reserve on homepage

INVESTIGATE:
-how to use angular to set up language support?
-how to pull in data from csv?

-->


<html ng-app="hotelsiteApp">
  <head>

    <title>Seoul 53 Hotel</title> 
    <meta charset="utf-8">
    <meta name="author" content="Sean Park">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico" />


    <!-- CSS !-->
    <link rel="stylesheet" href="jquery-ui-1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="materialize/css/materialize.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- JAVASCRIPT !-->
    <script src="jquery-3.1.1.js"></script>
    <script src="jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="angular.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.js"></script>
    <script type="text/javascript" src="moment.min.js"></script>
    <script type="text/javascript" src="my-scripts.js"></script>  
    <!-- IMAGE SLIDER, FORM & SCROLLER SCRIPTS -->
    <script>
      $(document).ready(function(){
          $('.slider').slider({full_width: true});
          $("#checkin").datepicker();
          $("#checkout").datepicker();
      });
      window.onscroll = function() {
        changeScrollArrow(".heading-banner");
      };

      /* makes room select button's height dynamic */
      var roomSelectButtonWidth = $('.room-select').width();
      $('.room-select + label img').css({'height':roomSelectButtonWidth+'px'});
      
    </script>
  </head>
  <body ng-app="hotelsiteApp" ng-controller="mainController">
    <section ng-controller="tabController as navigation">

      <div class="row container">
        <form id="language-select">
          <input type="radio" id="language1" value="english" ng-model="language" checked>
          <label for="language1" ng-click="setLanguage('english')">English</label>
          <input type="radio" id="language2" value="korean" ng-model="language" >
          <label for="language2" ng-click="setLanguage('korean')">Korean</label>
          <input type="radio" id="language3" value="japanese" ng-model="language" >
          <label for="language3" ng-click="setLanguage('japanese')">Japanese</label>
          <input type="radio" id="language4" value="chinese" ng-model="language" >
          <label for="language4" ng-click="setLanguage('chinese')">Chinese</label>
        </form>
        <!--<pre>user = {{language}}</pre>-->
      </div>
      <div class="row container">
        <ul class="tabs" id="navbar">
          <li class="tab col s2" ng-class = "{ active: isSelected(1) }">
            <a href ng-click = "selectTab(1)" >About</a>
          </li>
          <li class="tab col s2" ng-class = "{ active: isSelected(2) }">
            <a href ng-click = "selectTab(2)">Explore</a>
          </li>
          <li class="tab col s2" ng-class = "{ active: isSelected(3) }">
            <a href ng-click = "selectTab(3)">Rooms</a>
          </li>
          <li class="tab col s2" ng-class = "{ active: isSelected(4) }">
            <a href ng-click = "selectTab(4)">Reserve</a>
          </li>
          <li class="tab col s2" ng-class = "{ active: isSelected(5) }">
            <a href ng-click = "selectTab(5)">Find Us</a>
          </li>
        </ul>
      </div>
      <div id="mainContent">
      
        <!-- ABOUT US -->
        <div ng-show="isSelected(1)">
          <div id="description" class="row container">
            <div id="about-us" class="col s6">
              <h2>Welcome. 欢迎光临。</h2>
              <h2>환영합니다. ようこそ.</h2>
              <p> {{content.home_intro}} </p>
            </div>
            <div id="image-gallery" class="col s6">
              <div class="slider">
                <ul class="slides">
                  <li>
                    <img src="images/about-slider/main-1.jpg"> 
                    <div class="caption center-align">
                      <h3></h3> <!-- slogan -->
                      <h5 class="light grey-text text-lighten-3"></h5> <!-- small slogan -->
                    </div>
                  </li>
                  <li>
                    <img src="images/about-slider/lobby3.jpg">
                    <div class="caption left-align">
                      <h3></h3> <!-- slogan -->
                      <h5 class="light grey-text text-lighten-3"></h5> <!-- small slogan -->
                    </div>
                  </li>
                  <li>
                    <img src="images/about-slider/outdoor4.jpg"> <!-- random image -->
                    <div class="caption right-align">
                      <h3></h3> <!-- slogan -->
                      <h5 class="light grey-text text-lighten-3"></h5> <!-- small slogan -->
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="center"><a id="scroll-button" onclick="goToByScroll('about-us-banner')" class="center btn-floating waves-effect waves-light">&darr;</a>
          </div>
          <div id="about-us-banner" class="heading-banner">
            <br/><br/>
            <h2 class="center">Entire city within fingertips.</h2>
            <br/><br/>
            <div class="center" id="lobby-descript">
              <h5>Less than 10 minutes by walk 3 subway lines and 2 subway stations</h5>
            </div>
            <br/><br/><br/>
          </div>
          <br/>
          <h5 class="center">
            <b>Seoul 53 Hotel</b> is within walking distance of many tourist attractions.<br/>
            <p>Multiple bus and subway stations put Seoul 53 Hotel in the most accessible location in Seoul.<br/>
            Our experienced staff will be more than happy to guide your travels.</p>
          </h5>
          <br/>
          <div id="attractions" class="container">
            <div class="row">
              <div class="col s5">
                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/myeongdong.jpg">
                <h5><b>Myeongdong (15 min)</b></h5>
                <p>Seoul's #1 shopping & street food.</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/dongdaemun.jpg">
                <h5><b>Dongdaemun Market (15 min)</b></h5>
                <p>Want more shopping? Look no further.</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/hongdae.jpg">
                <h5><b>Hongdae Music Park (20 min)</b></h5>
                <p>Heart of Korean youth culture and underground music.</p>
              </div>

              <div class="col s3">
                <img class="materialboxed" width="100%" src="images/attractions/changdeokgung.jpg">
                <h5><b>Changdeokgung Palace (5 min)</b></h5>
                <p>Check out Korea's history and heritage.</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/gwangjang.jpg">
                <h5><b>Gwangjang Market (10 min)</b></h5>
                <p>Stop by for some street food!</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/gyeongbokgung.jpg">
                <h5><b>Gyeongbokgung Palace (20 min)</b></h5>
                <p>Learn more about Korean history.</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/lotte-duty-free.jpg">
                <h5><b>Lotte Duty Free Mall (15 min)</b></h5>
                <p>Looking for a classier shopping option?</p>
                <br/>
              </div>

              <div class="col s4">
                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/bukchon.jpg">
                <h5><b>Bukchon Hanok Village (10 min)</b></h5>
                <p>Witness the fusion of old and new.</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/samcheongdong.jpg">
                <h5><b>Samcheongdong Street (20 min)</b></h5>
                <p>Seoul's best fusion cafés and restaurants right below Bukchon.</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/namsan.jpg">
                <h5><b>Namsan Tower (20 min)</b></h5>
                <p>Check out Seoul's night view where so many dramas were filmed.</p>
                <br/>
              </div>
            </div>
          </div>
        </div>

        <!-- EXPLORE -->
        <div ng-show="isSelected(2)">
          <div id="explore-banner" class="heading-banner">
              <br/><br/>
              <h2 class="center">Entire city within fingertips.</h2>
              <br/><br/>
              <div class="center" id="lobby-descript">
                <h5>Less than 10 minutes by walk 3 subway lines and 2 subway stations</h5>
              </div>
              <br/><br/><br/>
          </div>
          <div id="image-gallery" class="container">
            <div class="row">
              <div class="col s5">
                <img class="materialboxed" width="100%" src="images/explore/dining3.jpg">
                <p>Dining room by day, bar by night.</p>
                <br/>
                <img class="materialboxed" width="100%" src="images/explore/outdoor2.jpg">
                <p>Night at Seoul 53 Hotel has a unique atmosphere.</p>
              </div>
              <div class="col s3">
                <img class="materialboxed" width="100%" src="images/explore/lobby3.jpg">
                <p>Our hotel staff will be at the front desk 24/7 to assist with any issues.</p>
                <img class="materialboxed" width="100%" src="images/explore/outdoor8.jpg" />
                <br/>
                <img class="materialboxed" width="100%" src="images/explore/other15.jpg">
                <p>Enjoy your breakfast or coffee on our outdoor patio.</p>
              </div>
              <div class="col s4">
                <img class="materialboxed" width="100%" src="images/explore/triple1.jpg">
                <p>Our rooms are cleaned daily and well-managed.</p>
                <br/><br/>
                <img class="materialboxed" width="100%" src="images/explore/dining5.jpg">
                <p>With an interior inspired by modern art galleries, the dining area is a great place to relax.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- ROOMS -->
        <div ng-controller="reservationController" ng-show="isSelected(3)"> 
          <div id="rooms-banner" class="heading-banner">
            <br/><br/>
            <h2 class="center">3 Types of cozy, comfortable rooms.</h2>
            <br/><br/>
            <div class="center">
              <h5>Room intro</h5>
            </div>
            <br/><br/><br/>
          </div>
          <div class="container">
            <h5 class="center">All our rooms are equipped with: in-room WiFi, TV, water boiler, refrigerator, hair dryer, water and coffee.</h5>
            <br/>
            <div id="rooms-thumbnails" class="row">
              <div class="col s4">
                <a onclick="goToByScroll('room-type-1')"><img class="responsive-img" src="images/rooms/round/double-round.png"/></a>
                <br/><h5>Double</h5>
                <p>This is a description of the Double room. I still need to write it before the 21st.</p>
              </div>
              <div class="col s4">
                <a onclick="goToByScroll('room-type-1')"><img class="responsive-img" src="images/rooms/round/twin-round.png"/></a>
                <br/><h5>Twin</h5>
                <p>This is a description of the Twin room. I still need to write it before the 21st.</p>
              </div>
              <div class="col s4">
                <a onclick="goToByScroll('room-type-1')"><img class="responsive-img" src="images/rooms/round/triple-round.png"/></a>
                <br/><h5>Triple</h5>
                <p>This is a description of the Triple room. I still need to write it before the 21st.</p>
              </div>
            </div>
            <div id="room-type-1" class="row">
              <div class="col s7">
                <div class="slider">
                  <ul class="slides">
                    <li>
                      <img src="images/rooms/double-slider/double1.jpg"> <!-- random image -->
                    </li>
                    <li>
                      <img src="images/rooms/double-slider/bath1.jpg"> <!-- random image -->
                    </li>
                    <li>
                      <img src="images/rooms/double-slider/double2.jpg"> <!-- random image -->
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col s5 room-display">
                <h4>Double</h4>
                <ul>
                  <li>1 double bed (2 guests)</li>
                  <li>Free Wi-Fi / breakfast</li>
                  <li>2 bottles mineral water daily</li>
                  <li>Air conditioner / Hair dryer</li>
                </ul>
                <br/><br/>
                <b>Special Rate</b>    55,000/65,000 won (weekday/weekend)
                <br/><br/><br/>
                <button ng-click="selectTab(4)" onclick="goToByScroll('mainContent')" class="btn waves-effect waves-light">
                  Reserve
                </button>
              </div>
            </div>
            <div id="room-type-2" class="row">
              <div class="col s7">
                <div class="slider">
                  <ul class="slides">
                    <li>
                      <img src="images/rooms/twin-slider/twin1.jpg"> <!-- random image -->
                      <div class="caption center-align">
                        <h3></h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                      </div>
                    </li>
                    <li>
                      <img src="images/rooms/twin-slider/twin2.jpg"> <!-- random image -->
                      <div class="caption left-align">
                        <h3></h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                      </div>
                    </li>
                    <li>
                      <img src="images/rooms/twin-slider/twin3.jpg"> <!-- random image -->
                      <div class="caption right-align">
                        <h3></h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col s5 room-display">
                <h4>Twin</h4>
                <ul>
                  <li>2 single beds (2 guests)</li>
                  <li>Free Wi-Fi / breakfast</li>
                  <li>2 bottles mineral water daily</li>
                  <li>Air conditioner / Hair dryer</li>
                </ul>
                <br/><br/>
                <b>Special Rate</b>    55,000/65,000 won (weekday/weekend)
                <br/><br/><br/>
                <button ng-click="selectTab(4)" onclick="goToByScroll('mainContent')" class="btn waves-effect waves-light">
                  Reserve
                </button>
              </div>
            </div>
            <div id="room-type-3" class="row">
              <div class="col s7">
                <div class="slider">
                  <ul class="slides">
                    <li>
                      <img src="images/rooms/triple-slider/triple1.jpg"> <!-- random image -->
                      <div class="caption center-align">
                        <h3></h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                      </div>
                    </li>
                    <li>
                      <img src="images/rooms/triple-slider/triple2.jpg"> <!-- random image -->
                      <div class="caption left-align">
                        <h3></h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                      </div>
                    </li>
                    <li>
                      <img src="images/rooms/triple-slider/triple3.jpg"> <!-- random image -->
                      <div class="caption right-align">
                        <h3></h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col s5 room-display">
                <h4>Triple</h4>
                <ul>
                  <li>1 double  + 1 single bed (3 guests)</li>
                  <li>Free Wi-Fi / breakfast</li>
                  <li>3 bottles mineral water daily</li>
                  <li>Air conditioner / Hair dryer</li>
                </ul>
                <br/><br/>
                <b>Special Rate</b>    65,000/75,000 won (weekday/weekend)
                <br/><br/><br/>
                <button ng-click="selectTab(4)" onclick="goToByScroll('mainContent')" class="btn waves-effect waves-light">
                  Reserve
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- RESERVE -->
        <div ng-controller="reservationController" ng-show="isSelected(4)">
          <div id="reserve-banner" class="heading-banner">
            <br/><br/>
            <h2 class="center">Welcome to Seoul 53 Hotel!</h2>
            <br/><br/>
            <div class="center">
              <h5>Reserve intro</h5>
            </div>
            <br/><br/><br/>
          </div>
          <div class="form-style">
            <!-- RESERVE FORM -->
            <!-- site currently uses HTML form validation -->
            <form id="reserve-form" ng-show="!formCompletion.completed && !formCompletion.confirmed" ng-submit="completeForm(reservation)">
              <h1>Make a Reservation</h1>
              <input type="text" name="name" placeholder="Your Name" ng-model="reservation.name" required/>
              <input type="email" name="email" placeholder="Email Address" ng-model="reservation.email" required/>
              <input type="text" name="phone" placeholder="Phone Number" ng-model="reservation.phone" required/>
              <input type="text" name="checkin" placeholder="Check In" id="checkin" ng-model="reservation.checkin" required/>
              <input type="text" name="checkout" placeholder="Check Out" id="checkout" ng-model="reservation.checkout" required/>
              
              <!-- IMAGE SELECT RADIO BUTTON -->
              <!-- SHOUT OUT TO DAVID DIAO -->
              <table class="room-select">
                <tr>
                  <td>
                    <input type="radio" id="radio1" name="room" value="double" ng-model="reservation.room" checked />
                    <label for="radio1">
                        <img src="images/rooms/round/double-round.png" />
                    </label>
                  </td>
                  <td>
                    <input type="radio" id="radio2" name="room" value="twin" ng-model="reservation.room">
                    <label for="radio2">
                        <img src="images/rooms/round/twin-round.png" />
                    </label>
                  </td>
                  <td>
                    <input type="radio" id="radio3" name="room" value="triple" ng-model="reservation.room">
                    <label for="radio3">
                        <img src="images/rooms/round/triple-round.png" />
                    </label>
                  </td>
                </tr>
                <!-- Labels for image select buttons -->
                <tr>
                  <td>Double</td>
                  <td>Twin</td>
                  <td>Triple</td>
                </tr>
              </table>

              <textarea name="info" placeholder="Additional Information" ng-model="reservation.info"></textarea>
              <input type="submit" value="Reserve"/>
            </form>

            <!-- RESERVATION CONFIRM -->
            <div ng-show="formCompletion.completed && !formCompletion.confirmed">
              <h1>Thank you!</h1>
              <p>Please confirm your reservation below.</p>
              <table id="reservation-confirm">
                <tr>
                  <td class="reservation-confirm-header">
                    Name
                  </td>
                  <td>
                    {{reservation.name}}
                  </td>
                </tr>
                <tr>
                  <td class="reservation-confirm-header">
                    E-mail
                  </td>
                  <td>
                    {{reservation.email}}
                  </td>
                </tr>
                <tr>
                  <td class="reservation-confirm-header">
                    Phone
                  </td>
                  <td>
                    {{reservation.phone}}
                  </td>
                </tr>
                <tr>
                  <td class="reservation-confirm-header">
                    Check-In
                  </td>
                  <td>
                    {{reservation.checkin}}
                  </td>
                </tr>
                <tr>
                  <td class="reservation-confirm-header">
                    Check-Out
                  </td>
                  <td>
                    {{reservation.checkout}}
                  </td>
                </tr>
                <tr>
                  <td class="reservation-confirm-header">
                    Room Type
                  </td>
                  <td style="text-transform: capitalize;">
                    {{reservation.room}}
                  </td>
                </tr>
                <tr>
                  <td style="text-align: right;">
                    <button class="btn btn-primary" ng-click="uncompleteForm()">Edit</button>
                  </td>
                  <td>
                    <button class="btn btn-primary" ng-click="submitForm(reservation)">Submit</button>
                  </td>
                </tr>
              </table>
            </div>

            <!-- RESERVATION SUBMITTED (POST CONFIRMATION)-->
            <div ng-show="formCompletion.completed && formCompletion.confirmed">
              <h1>Reservation Submitted</h1>
              <p>Thank you for staying with Seoul 53 Hotel! We will send you a confirmation e-mail soon.</p>
              <button class="btn btn-primary" ng-click="resetReservation()">Back to Home</button>
              <!-- <pre>{{reservation | json}} </pre> -->
            </div>
          </div>
        </div>

        <!-- FIND US -->
        <div ng-show="isSelected(5)"> 
          <p class = "center"> {{content.find_us_intro}} </p>
          <div id="maps" class="center container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.155464049971!2d126.9871789500211!3d37.57495673130596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2e8f664957f%3A0x47b020dad419d4c2!2z7ISc7Jq4NTPtmLjthZQ!5e0!3m2!1sen!2sus!4v1474004159032" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <img src="images/directions.jpg" />
          </div>
        </div>
      </div>
    </section> 
    <footer>
    </footer>
  </body>
</html>