<!--

TO-DO:
-clean up code
-update gimpo direction photos
-USER TESTING
  -proofread directions
-->


<html ng-app="hotelsiteApp" ng-controller="mainController">
  <head>

    <title>Seoul 53 Hotel</title> 
    <meta charset="utf-8">
    <meta name="author" content="Sean Park">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico" />

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>
      @font-face {
        font-family: 'Oseong';
        src: url(fonts/oseong.otf);
      }
    </style>

    <!-- CSS STYLES !-->
    <link rel="stylesheet" href="js/jquery-ui-1.12.1/jquery-ui.css">
    <link rel="stylesheet" ng-href="styles/{{language}}-fonts.css">
    <link rel="stylesheet" href="materialize/css/materialize.css">
    <link rel="stylesheet" href="styles/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JAVASCRIPT !-->
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <!-- THE MATERIALIZE FILE HAS BEEN ALTERED -->
    <!-- DO NOT USE UPDATED MATERIALIZE -->
    <script type="text/javascript" src="materialize/js/materialize.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <!-- IMAGE SLIDER, FORM & SCROLLER SCRIPTS -->
    <script>
      $(document).ready(function(){
          $('.slider').slider({full_width: true});
          $("#checkin").datepicker();
          $("#checkout").datepicker();
          $("#home-checkin").datepicker();
          $("#home-checkout").datepicker();
          $('ul.tabs').tabs();
      });
      window.onscroll = function() {
        changeScrollArrow('.arrow-anchor');
      };

      /* makes room select button's height dynamic */
      var roomSelectButtonWidth = $('.room-select').width();
      $('.room-select + label img').css({'height':roomSelectButtonWidth+'px'});  
    </script>
  </head>
  <body>
      
      <!-- LANGUAGE SELECT BAR -->
      <div id="language-div">
        <div class="container right-align">
          <a class="language-select-tab" onclick="setActive('english');" ng-click="setLanguage('english');">
            <img src="images/flags/english.png" class="active" height="18px" width="30px" id="english"/>
          </a>
          <!--
          <a class="language-select-tab" onclick="setActive('chinese')" ng-click="setLanguage('chinese')">
            <img src="images/flags/chinese.png" height="18px" width="30px" id="chinese"/>
          </a>  
          <a class="language-select-tab" onclick="setActive('japanese')" ng-click="setLanguage('japanese')">
            <img src="images/flags/japanese.png" height="18px" width="30px" id="japanese" />
          </a>
          -->
          <a class="language-select-tab" onclick="setActive('korean');" ng-click="setLanguage('korean');">
            <img src="images/flags/korean.png" height="18px" width="30px" id="korean"/>
          </a>
        </div>
      </div>
     
      <!-- NAVIGATION BAR -->
      <div id="toprow" class="row container">
        <div class="col s5">
          <a href ng-click="selectTab(0)" onclick="$('.nav-tabs').tabs('select_tab',0);">
            <img id ="logo" src="images/logo3.png"/>
          </a>
        </div>
        <div id="navbar" class="col s7">
          <ul class="tabs nav-tabs">
            <li class="tab col s1" ng-class = "{ active: isSelected(0) }">
              <a id="home-button" href ng-click = "selectTab(0)" ng-class = "{ active: isSelected(0) }">
                Home
              </a>
            </li>
            <li class="tab col s1" ng-class = "{ active: isSelected(1) }">
              <a id="about-nav-button" href ng-click = "selectTab(1)" ng-class = "{ active: isSelected(1) }">
                About
              </a>
            </li>
            <li class="tab col s1" ng-class = "{ active: isSelected(3) }">
              <a id="rooms-nav-button" href ng-click = "selectTab(3)" ng-class = "{ active: isSelected(3) }">
                Rooms
              </a>
            </li>
            <li class="tab col s1" ng-class = "{ active: isSelected(4) }">
              <a id="reserve-nav-button" href ng-click = "selectTab(4)" ng-class = "{ active: isSelected(4) }">
                Reserve
              </a>
            </li>
            <li class="tab col s1" ng-class = "{ active: isSelected(5) }">
              <a id="find-us-nav-button" href ng-click = "selectTab(5)" ng-class = "{ active: isSelected(5) }">
                Find Us
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- MAIN CONTENT -->
      <div id="mainContent">

        <!-- 0 - HOME -->
        <div ng-show="isSelected(0)">
          <!-- SCROLL BUTTON -->
          <div class="center"><a id="scroll-button" onclick="goToByScroll('.arrow-anchor')" class="center btn-floating waves-effect waves-light">&darr;</a>
          </div>
          <div id="home">
            <div class="row" id="home-header">
                <h3 ng-cloak>
                  {{content.home_header}}
                </h3>
                <br/><br/>
            </div>
            <div id="home-booker">
              <form onsubmit="$('ul.tabs').tabs('select_tab', 4); goToByScroll('#reserve-form-div');">
              <table>
                  <td>
                    <input type="text" ng-attr-placeholder={{content.checkin}} id="home-checkin" ng-model="reservation.checkin"/>
                  </td>
                  <td class="home-reserve-arrow">
                    <h3>></h3>
                  </td>
                  <td colspan="2">
                    <input type="text" ng-attr-placeholder={{content.checkout}} id="home-checkout" ng-model="reservation.checkout"/>
                  </td>
                  <td id="home-reserve">
                    <input type="submit" class="btn" ng-value="content.reserve"/>
                  </td>
              </table>
              </form>
            </div>
          </div>
          <div id="image-gallery" class="arrow-anchor">
            <div class="row" style="text-align: center; margin-top: 60px;">
              <h3 ng-cloak>{{content.home_subheader}}</h3>
            </div>
            <br/>
            <div class="row">
              <div class="col s5">
                <img class="materialboxed" width="100%" src="images/explore/dining3.jpg">
                <p ng-cloak>{{content.home_dining_room_caption}}</p>
                <br/>
                <img class="materialboxed" width="100%" src="images/explore/outdoor2.jpg">
                <p ng-cloak>{{content.home_outdoor_caption}}</p>
              </div>
              <div class="col s3">
                <img class="materialboxed" width="100%" src="images/explore/lobby3.jpg">
                <p ng-cloak>{{content.home_front_caption}}</p>
                <img class="materialboxed" width="100%" src="images/explore/outdoor8.jpg" />
                <br/>
                <img class="materialboxed" width="100%" src="images/explore/other15.jpg">
                <p ng-cloak>{{content.home_patio_caption}}</p>
              </div>
              <div class="col s4">
                <img class="materialboxed" width="100%" src="images/explore/triple1.jpg">
                <p ng-cloak>{{content.home_room_caption}}</p>
                <br/><br/>
                <img class="materialboxed" width="100%" src="images/explore/dining5.jpg">
                <p ng-cloak>{{content.home_dining_room_caption2}}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- 1 - ABOUT US -->
        <div ng-show="isSelected(1)">
          <div id="description" class="row container">
            <div id="about-us" class="col s6">
              <h2>
                <span style="font-family: 'Montserrat', sans-serif;">Welcome.</span>
                <span style="font-family: 'Montserrat', sans-serif;">欢迎光临。</span>
              </h2>
              <h2>
                <span style="font-family: 'Oseong', sans-serif;">환영합니다.</span>
                <span style="font-family: 'Oseong', sans-serif;">ようこそ.</span>
              </h2>
              <br/>
              <p ng-cloak> {{content.about_intro}} </p>
              <br/>
              <p><b style="font-family: 'Oseong', sans-serif;">감사합니다.</b></p>
            </div>
            <div id="about-image-gallery" class="col s6">
              <div class="slider">
                <ul class="slides">
                  <li>
                    <img src="images/about-slider/main-1.jpg"> 
                    <div class="caption center-align">
                      <h3></h3> <!-- slogan -->
                      <h5 class="light grey-text text-lighten-3"></h5> <!-- small slogan -->
                    </div>
                  </li>
                  <li>
                    <img src="images/about-slider/lobby3.jpg">
                    <div class="caption left-align">
                      <h3></h3> <!-- slogan -->
                      <h5 class="light grey-text text-lighten-3"></h5> <!-- small slogan -->
                    </div>
                  </li>
                  <li>
                    <img src="images/about-slider/outdoor4.jpg"> <!-- random image -->
                    <div class="caption right-align">
                      <h3></h3> <!-- slogan -->
                      <h5 class="light grey-text text-lighten-3"></h5> <!-- small slogan -->
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="about-us-banner" class="heading-banner arrow-anchor">
            <br/><br/>
            <h2 class="center" ng-cloak >{{content.about_banner_header}}</h2>
            <br/><br/>
            <div class="center" id="lobby-descript">
              <h5 ng-cloak >{{content.about_banner_subheader}}</h5>
            </div>
            <br/><br/><br/>
          </div>
          <br/>
          <h5 class="center">
            <b>Seoul 53 Hotel Insadong </b><span ng-cloak>{{content.about_body_header}}</span>
            <br/><br/>
            <p ng-cloak>{{content.about_body_subheader}}</p>
          </h5>
          <br/>
          <div id="attractions" class="row container">
            <div class="col s4">
              <h5>Shopping</h5>
              <div class="attraction-feature-div" ng-repeat="attraction in content.shopping_attractions">
                <img class="attraction-pic materialboxed" width="100%" ng-src={{attraction.image}}>
                  <b class="attraction-title" ng-cloak>{{attraction.name}}</b>
                  <i class="attraction-description" ng-cloak>{{attraction.description}}</i>
                  <a target="_blank" ng-href="{{attraction.link}}">>></a>
                <br/>
              </div>
            </div>
            <div class="col s4">
              <h5>Attractions</h5>
              <div class="attraction-feature-div" ng-repeat="attraction in content.tourist_attractions">
                <img class="attraction-pic materialboxed" width="100%" ng-src={{attraction.image}}>
                  <b class="attraction-title" ng-cloak>{{attraction.name}}</b>
                  <p class="attraction-description" ng-cloak><i>{{attraction.description}}</i></p>
                  <a target="_blank" ng-href="{{attraction.link}}">>></a>
                <br/>
              </div>
            </div>
            <div class="col s4">
              <h5>Restaurants & Markets</h5>
              <div class="attraction-feature-div" ng-repeat="attraction in content.restaurant_attractions">
                <img class="attraction-pic materialboxed" width="100%" ng-src={{attraction.image}}>
                  <b class="attraction-title" ng-cloak>{{attraction.name}}</b>
                  <i class="attraction-description" ng-cloak>{{attraction.description}}</i>
                  <a target="_blank" ng-href="{{attraction.link}}">>></a>
                <br/>
              </div>
            </div>
          </div>
          <!--
          <div id="attractions" class="container">
            <div class="row">
              <div class="col s5">
                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/myeongdong.jpg">
                <h5><b>Myeongdong (15 min)</b></h5>
                <p>Seoul's #1 shopping & street food.</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/dongdaemun.jpg">
                <h5><b>Dongdaemun Market (15 min)</b></h5>
                <p>Want more shopping? Look no further.</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/hongdae.jpg">
                <h5><b>Hongdae Music Park (20 min)</b></h5>
                <p>Heart of Korean youth culture and underground music.</p>
              </div>

              <div class="col s3">
                <img class="materialboxed" width="100%" src="images/attractions/changdeokgung.jpg">
                <h5><b>Changdeokgung Palace (5 min)</b></h5>
                <p>Check out Korea's history and heritage.</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/gwangjang.jpg">
                <h5><b>Gwangjang Market (10 min)</b></h5>
                <p>Stop by for some street food!</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/gyeongbokgung.jpg">
                <h5><b>Gyeongbokgung Palace (20 min)</b></h5>
                <p>Learn more about Korean history.</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/lotte-duty-free.jpg">
                <h5><b>Lotte Duty Free Mall (15 min)</b></h5>
                <p>Looking for a classier shopping option?</p>
                <br/>
              </div>

              <div class="col s4">
                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/bukchon.jpg">
                <h5><b>Bukchon Hanok Village (10 min)</b></h5>
                <p>Witness the fusion of old and new.</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/samcheongdong.jpg">
                <h5><b>Samcheongdong Street (20 min)</b></h5>
                <p>Seoul's best fusion cafés and restaurants right below Bukchon.</p>
                <br/>

                <img class="attraction-pic materialboxed" width="100%" src="images/attractions/namsan.jpg">
                <h5><b>Namsan Tower (20 min)</b></h5>
                <p>Check out Seoul's night view where so many dramas were filmed.</p>
                <br/>
              </div>
            </div>
          </div>
          -->
        </div>

        <!-- 3 - ROOMS -->
        <div ng-show="isSelected(3)"> 
          <div id="rooms-banner" class="heading-banner">
            <br/><br/>
            <h2 class="center" ng-cloak>{{content.rooms_banner_header}}</h2>
            <br/><br/>
            <div class="center" ng-cloak>
              <h5>{{content.rooms_banner_subheader}}</h5>
            </div>
            <br/><br/><br/>
          </div>
          <div class="container">
            <p class="center"><b ng-cloak>{{content.rooms_body_header}}</b></p>
            <br/>
            <div id="rooms">
              <div class="row" ng-repeat="room_info in content.rooms_info">
                <div class="col s7">
                  <div class="slider">
                    <ul class="slides">
                      <li ng-repeat="image in room_info.slider_images">
                        <img ng-src={{image}}>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col s5 room-display">
                  <h4 ng-cloak>{{room_info.name}}</h4>
                  <div ng-repeat="description in room_info.description">
                    <p ng-cloak>{{description}}</p>
                  </div>
                  <br/>
                  <p ng-cloak><b>{{content.price}}</b> - {{room_info.price}}</p>
                  <br/><br/><br/>
                  <button onclick="$('ul.tabs').tabs('select_tab', 4); goToByScroll('#reserve-form-div');" class="btn waves-effect waves-light" ng-cloak>
                    {{content.reserve}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 4 - RESERVE -->
        <div ng-show="isSelected(4)">
          <div id="reserve-banner" class="heading-banner">
            <br/><br/>
            <h2 class="center" ng-cloak>{{content.reserve_banner_header}}</h2>
            <br/><br/>
            <div class="center">
              <h5 ng-cloak>{{content.reserve_banner_subheader}}</h5>
            </div>
            <br/><br/><br/>
          </div>
          <div id="reserve-form-div">
            <!-- RESERVE FORM -->
            <!-- site currently uses HTML form validation -->
            <form id="reserve-form" ng-show="!formCompletion.completed && !formCompletion.confirmed" ng-submit="completeForm(reservation)">
              <h2 ng-cloak>{{content.make_reservation}}</h2>
              <input type="text" name="name" ng-attr-placeholder={{content.name}} ng-model="reservation.name" required/>
              <input type="email" name="email" ng-attr-placeholder={{content.email}} ng-model="reservation.email" required/>
              <input type="text" name="phone" ng-attr-placeholder={{content.phone}} ng-model="reservation.phone" required/>
              <input type="text" name="checkin" ng-attr-placeholder={{content.checkin}} id="checkin" ng-model="reservation.checkin" required/>
              <input type="text" name="checkout" ng-attr-placeholder={{content.checkout}} id="checkout" ng-model="reservation.checkout" required/>
              
              <!-- IMAGE SELECT RADIO BUTTON -->
              <!-- SHOUT OUT TO DAVID DIAO -->
              <table class="room-select">
                <tr>
                  <td>
                    <input type="radio" id="radio1" name="room" value="double" ng-model="reservation.room" checked />
                    <label for="radio1">
                        <img src="images/rooms/round/double-round.png" />
                        <p class="center" ng-cloak>{{content.rooms_info.double.name}}</p>  
                    </label>
                  </td>
                  <td>
                    <input type="radio" id="radio2" name="room" value="twin" ng-model="reservation.room">
                    <label for="radio2">
                        <img src="images/rooms/round/twin-round.png" />
                        <p class="center" ng-cloak>{{content.rooms_info.twin.name}}</p>
                    </label>
                  </td>
                  <td>
                    <input type="radio" id="radio3" name="room" value="triple" ng-model="reservation.room">
                    <label for="radio3">
                        <img src="images/rooms/round/triple-round.png" />
                        <p class="center" ng-cloak>{{content.rooms_info.triple.name}}</p>
                    </label>
                  </td>
                </tr>
                <!-- Labels for image select buttons -->
                <tr>
                  <td ng-cloak>{{content.rooms_double}}</td>
                  <td ng-cloak>{{content.rooms_twin}}</td>
                  <td ng-cloak>{{content.rooms_triple}}</td>
                </tr>
              </table>

              <textarea name="info" ng-attr-placeholder={{content.additional_info}} ng-model="reservation.info"></textarea>
              <br/><br/><br/>
              <input type="submit" ng-attr-value="{{content.reserve}}" class="btn"/>
            </form>

            <!-- RESERVATION CONFIRM -->
            <div ng-show="formCompletion.completed && !formCompletion.confirmed">
              <h2 ng-cloak>{{content.reserve_confirm}}</h2>
              <table id="reservation-confirm">
                <tr>
                  <td class="reservation-confirm-header" ng-cloak>
                    {{content.name}}
                  </td>
                  <td>
                    {{reservation.name}}
                  </td>
                </tr>
                <tr>
                  <td class="reservation-confirm-header" ng-cloak>
                    {{content.email}}
                  </td>
                  <td>
                    {{reservation.email}}
                  </td>
                </tr>
                <tr>
                  <td class="reservation-confirm-header" ng-cloak>
                    {{content.phone}}
                  </td>
                  <td>
                    {{reservation.phone}}
                  </td>
                </tr>
                <tr>
                  <td class="reservation-confirm-header" ng-cloak>
                    {{content.checkin}}
                  </td>
                  <td>
                    {{reservation.checkin}}
                  </td>
                </tr>
                <tr>
                  <td class="reservation-confirm-header" ng-cloak>
                    {{content.checkout}}
                  </td>
                  <td>
                    {{reservation.checkout}}
                  </td>
                </tr>
                <tr>
                  <td class="reservation-confirm-header" ng-cloak>
                    {{content.room_type}}
                  </td>
                  <td style="text-transform: capitalize;" ng-cloak>
                    {{reservation.room}}
                  </td>
                </tr>
                <tr>
                  <td style="text-align: right;">
                    <button class="btn btn-primary" ng-click="uncompleteForm()" ng-cloak>
                      {{content.edit}}
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-primary" ng-click="submitForm(reservation)" ng-cloak>
                      {{content.submit}}
                    </button>
                  </td>
                </tr>
              </table>
            </div>

            <!-- RESERVATION SUBMITTED (POST CONFIRMATION)-->
            <div ng-show="formCompletion.completed && formCompletion.confirmed">
              <h1 ng-cloak>{{content.thank_you}}</h1>
              <p ng-cloak>{{content.reserve_submitted_message}}</p>
              <button class="btn btn-primary center" onclick="$('ul.tabs').tabs('init');" ng-click="resetReservation()" ng-cloak>{{content.back_to_home}}</button>
              <!-- <pre>{{reservation | json}} </pre> -->
            </div>
          </div>
        </div>

        <!-- 5 - FIND US -->
        <div ng-show="isSelected(5)"> 
          <div class="center">
            <br/>
            <h5 style="font-family: 'Oseong', sans-serif;">
                서울53호텔 인사동 // Seoul 53 Hotel Insadong
            </h5>
            <br/>
            <p style="font-family: 'Oseong', sans-serif;">서울특별시 종로구 돈화문로 11나길 53 (종로구 익선동 53번지)</p>
            <p style="font-family: 'Raleway', sans-serif;">53 Donhwamun-ro 11na-gil, Jongno-gu, Seoul</p>
            <p style="font-family: 'Raleway', sans-serif;">Phone Number: 82.2.763.3833</p>
            <p>
              <b ng-cloak>{{content.find_us_lost}}</b> <span ng-cloak>{{content.find_us_lost_prompt}}</span>
              <a href onclick="goToByScroll('#directions-banner')" ng-cloak>
                {{content.find_us_lost_directions}}
              </a>
            </p>
            <br/>
          </div>
          <div id="map" class="center container row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.155464049971!2d126.9871789500211!3d37.57495673130596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2e8f664957f%3A0x47b020dad419d4c2!2z7ISc7Jq4NTPtmLjthZQ!5e0!3m2!1sen!2sus!4v1474004159032" width="60%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="row container center">
            <img id="directions-image" src="images/directions.jpg" class="materialboxed center" style="display: initial;"/>
          </div>
          <div id="directions-banner" class="heading-banner center white-text">
            <br/><br/>
            <h2>Directions</h2>
            <br/>
              <h5>
                <a href class="directions-airport-link" onclick="goToByScroll('#incheon-directions')" ng-cloak>{{content.incheon}}</a> 
                <a href class="directions-airport-link" onclick="goToByScroll('#gimpo-directions')" ng-cloak>{{content.gimpo}}</a>
              </h5>
            <br/>
          </div>
          <div id="incheon-directions" class="container">
            <h1 ng-cloak>{{content.incheon}}</h1>
            <div class="direction row" ng-repeat="direction in content.incheon_directions">
              <div class="col s6">
                <img ng-src="{{direction.image}}"/>
              </div>
              <div class="col s6 direction-text">
                <p ng-cloak><b>{{direction.number}}</b> - {{direction.direction}}</p>
              </div>
            </div>
          </div>
          <div id="gimpo-directions" class="container">
            <h1 ng-cloak>{{content.gimpo}}</h1>
            <a class="btn" onclick="goToByScroll('#toprow');" style="margin: 10px;">Back to Top</a>
            <div class="direction row" ng-repeat="direction in content.gimpo_directions">
                <div class="directions-image col s7 ">
                  <img ng-src="{{direction.image}}"/>
                </div>
                <div class="col s4">
                  <p ng-cloak><b>{{direction.number}}</b> - {{direction.direction}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    <footer>
      <a class="btn" onclick="goToByScroll('#toprow');" style="margin: 0 auto">Back to Top</a>
      <div id="footer">
        <div id="footer-row-1" class="row">
          <div class="col s4">
            <h5>서울53호텔 인사동</h5>
            <h5>Seoul 53 Hotel Insadong</h5>
          </div>
          <div class="col s5" style="border-left: 1px dotted grey;">
            <p style="font-family: 'Oseong', sans-serif;">서울특별시 종로구 돈화문로 11나길 53 (종로구 익선동 53번지)</p>
            <p style="font-family: 'Oseong', sans-serif;">53 Donhwamun-ro 11na-gil, Jongno-gu, Seoul</p>
          </div>
          <div class="col s3" style="border-left: 1px dotted grey;">
            <p>Phone Number: 82.2.763.3833</p>
            <p>Email: 53hotelseoul@gmail.com</p>  
          </div>
        </div>
        <hr style="border-top:1px dotted grey; width: 100%;">
        <div id="footer-row-2">
          <p><i>© Seoul 53 Hotel 2016</i></p>
          <p style="margin-bottom: 0;">Made <i style="color: red;" class="tiny material-icons">volume_up</i> by Sean Park</p>
        </div>
    </div>
    <div id="liner"></div>
    </footer>
  </body>
</html>